{{ 'bub-testimonial.css' | asset_url | stylesheet_tag }}

<section class="testimonial-section bub-testimonial">
  <div class="container-sm testimonial-card">
    <div
      class="testimonial-background"
      style="background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuC1YwpQzv9IcdMzWZRcpI9EqyGdpAy3YA-ajFxXOvG6I19gsvB6kmTinzmRfaUfpxkGqzwvqiWQ7wZBCanAeVfQ8osRi7ni6gKsdBG96Zp7ruVK-lLsRrAwgYnG9gry1X0PSX050b9ZzqwGxymO3D7_KzMFaNHxDF0a8dTUHDEGZQ00WDp7bs7lQ3Djv7NrZo625RuKuf65gS84mfnKIaA8wdsNdDsSECDKFLWR4kGixBVR-63PXcVyZJiLqWSh0pzbfzCfnxhoZsYc');"
    ></div>
    <div class="testimonial-overlay"></div>
    <div class="testimonial-content">
      <span class="material-symbols-outlined quote-icon"> format_quote </span>
      <h2>
        "UwUMarket took my merch from basic screen-prints to a premium fashion line. The quality and global fulfillment
        are absolute game-changers."
      </h2>
      <div class="testimonial-author">
        <div class="author-photo">
          <img
            alt="Sarah Jenkins"
            src="https://lh3.googleusercontent.com/aida-public/AB6AXuDslBvv52i8TtayM6IXSdReHYJHuJ8qeSeKLWHD-IdpdRDgM1VVMR8qEHpRIlWm15Jo2cryYz_3u6vCMaX3NYzBvRpJRN4Ncp7loTwgPta4ZOW0ZO-u45VzyXla6Zihw1hPPMLzpTGqt4AtgIZqdVCatWa4BkTlv4FaLsaQ21mOG_kooh60L6kxGmiTDV0Goru-S94XgsspZtJ_mjgPj0z-OGT9a5xKYl_PUb-kNNFdI7KPD2vKV6GVMqGNQQ2Icfi7TxQU-MggxuhK"
          >
        </div>
        <div class="author-info">
          <p class="author-name">Sarah Jenkins</p>
          <p class="author-role">Lifestyle Creator • 2.4M Fans</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Bub Testimonial",
  "settings": [],
  "presets": [
    {
      "name": "Bub Testimonial"
    }
  ]
}
{% endschema %}
