{{ 'bub-features.css' | asset_url | stylesheet_tag }}

<section class="features bub-features">
  <div class="container">
    <div class="feature-grid">
      <article class="feature-card">
        <div class="feature-icon">
          <span class="material-symbols-outlined">diversity_3</span>
        </div>
        <h4>Sell Alongside Other Creators</h4>
        <p>
          60% of orders on UwU Market include more than 1 creator's merch! This allows creators to benefit from selling
          merch along side our large network of other creators.
        </p>
        <div class="feature-footer">
          <span>Network Effect</span>
          <span class="material-symbols-outlined">arrow_forward</span>
        </div>
      </article>
      <article class="feature-card">
        <div class="feature-icon">
          <span class="material-symbols-outlined">monitoring</span>
        </div>
        <h4>Track Your Sales</h4>
        <p>
          Gain access to UwU Market's backend dashboard to track your sales, view your customer's notes, payouts and
          more!
        </p>
        <div class="feature-footer">
          <span>Dashboard</span>
          <span class="material-symbols-outlined">arrow_forward</span>
        </div>
      </article>
      <article class="feature-card">
        <div class="feature-icon">
          <span class="material-symbols-outlined">military_tech</span>
        </div>
        <h4>Earn Rewards</h4>
        <p>Get the recognition your deserve by earning rewards the more you sell.</p>
        <div class="feature-footer">
          <span>Milestones</span>
          <span class="material-symbols-outlined">arrow_forward</span>
        </div>
      </article>
    </div>
  </div>
</section>
